@model Car
@{
    ViewData["Title"] = "Detail";
}

<h1>Car Detail</h1>

<h2>Id @Model.Id</h2>
<h2>Model Id @Model.ModelId</h2>
<h2>Name @Model.Name</h2>
<h2>@Model.Price</h2>
<h2>@Model.Engine</h2>
<h2>@Model.FuelType</h2>
<h2>@Model.Year</h2>

